.app-header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    width: 200px;     // need to adjust real width with media querys
    height: 100vh;
    padding-left: 20px; //a little pudding for beggining init 
    border-right: 0.5px solid black;  // a little border for init

    nav {
        gap: 10px;     // a little gap for beggining init
        display: flex;
        flex-direction: column;
        font-size: .8em;
        padding: 5px;
    }
}