.app-header {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 300px; //need to adjust size
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.1); 
    font-size: rem($system-16-font-size);
    line-height: rem($system-16-line-height);

    nav {
        padding: 8px 12px 10px;   // padding: 8px 12px 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        >* {
            display: flex;
            align-items: center;
            padding: 12px;
            margin: 4px 0px;
            gap: 15px; // a little gap for beggining ini  
            flex-direction: row;
        }

        > :last-child {
            margin-top: auto
        }
    }
}