.comment-preview{
    display: flex;
    margin: 5px 16px 16px 0px;
    font-size: rem($system-14-font-size);
    line-height: rem($system-14-line-height);

    .post-comment-fullname{
        font-weight: $font-weight-system-semibold;
        &:hover{
            cursor: pointer;
        }
    }

    :nth-child(2){
        margin: 0px 0px 0px 14px;
        .post-comment-under-details{
            margin-left: 0px;
            margin-top: 8px;
            display: flex;
         
            .translate-btn{
                margin-top: 0px;
                margin-bottom: 16px;
                margin-left: 12px;
            }
            .comment-likes{
                font-size: rem($system-12-font-size);
                line-height: rem($system-12-line-height);
                font-weight: $font-weight-system-semibold;
                color: $clr4;
                margin-top: 0px;
                margin-left: 12px;
            }
        }
    }
    p {
        padding: 0;
        margin: 0;
    }

    .post-description-fullname {
        font-weight: $font-weight-system-semibold;
        &:hover{
            cursor: pointer;
        }
    }

    .more-btn {
        color: $clr4;
    }

    img{
        height: 32px;
        width: 32px;
    }

    .translate-btn {
        font-size: rem($system-12-font-size);
        line-height: rem($system-12-line-height);
        font-weight: $font-weight-system-semibold;
        color: $clr4;
        padding: 0px 0px 0px;
    }

    .passed-time{
        font-size: rem($system-12-font-size);
        line-height: rem($system-12-line-height);
        color: $clr4;
    }

    .comment-likes{
        margin: 0px;
    }

    .comment-like-container{
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .comment-like-icon{
        margin-top: 6px;
        width: 12px;
        height: 12px;
    }
   
}






