.create-post-main-content{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    .create-post-img{
      width: 100%;
    }
}