.create-post{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $clr_bg;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
}


.create-post-layout-one{
    width: 46vw;
    height: 78.5vh;
}

.create-post-layout-three{  
    width: 64vw;
    height: 78.5vh;
}