.create-post-main-filter {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;

    .create-post-main-filter-title {
        color: $clr11;
        font-size: rem($system-14-font-size);
        line-height: rem($system-14-line-height);
        font-weight: $font-weight-system-semibold;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 14px 0px;
    }
}