.ReactModal__Content {
    width: fit-content;
    height: fit-content;
}

.ReactModal__Overlay {
  // color:red;
}

.create-modal-container {
    width: fit-content;
    height: fit-content;
    
    background-color: white;
  }
  
  .upload-image-container {
    height: 692px;
    width: 692px;

    // background-color: red;
        // .dropzone {
        //     width: 100%;
        //     height: 100%;

        //     padding: 24px;
            // background-color: pink;
            // if debugging consider changing dropzone to upload-preview
              .dropzone{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                // background-color: orange;
                padding: 24px;
                width: 100%;
                height: 100%;
              }

              .dropzone input[type="file"] {
                opacity: 0; /* Hide the default input element */
                background-color: purple;
                
                // width: 100%; /* Match the width of the parent container */
                // height: 100%; /* Match the height of the parent container */
              }

              // .upload-preview:after {
              //   content: attr(data-text); /* Display custom text content */
              //   display: block; /* Display the content as a block element */
              //   /* Style the content (text color, font size, etc.) */
              //   color: white; /* Assuming white text color for green background */
              //   font-size: 16px; /* Adjust font size as needed */
              //   cursor: pointer; /* Indicate clickable area for file selection */
              // }
        }
  
