.create-post-main{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;

    .drag-photos-p{
        font-size: rem($system-20-font-size);
        line-height: rem($system-20-line-height);
    }

    .select-from-computer-btn{
        font-size: rem($system-14-font-size);
        line-height: rem($system-14-line-height);
        background-color: $clr12;
        color: $clr_bg ;
        padding: 7px 16px;
        font-weight: $font-weight-system-semibold;
        border-radius: 8px;
    }
}

.create-post-main-layout-one{
    padding: 24px;
}

.create-post-main-layout-two{
   
}

.create-post-icon{
    width: 96px;
    height: 77px;
}

.create-post-main-layout-three{
    flex-direction: row;  
    
}