.explore-post-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 316px)); 
    gap: 3px;
    
    > :nth-child(10n + 3) { 
        grid-row: span 2; 
        height: 100%;
    }
    
    > :nth-child(10n + 6) { 
        grid-row: span 2; 
        height: 100%;
    }

    img {
        height: 100%;
        object-fit: cover;
    }
}
