.following-container {
    display: flex;
    flex-direction: column;
    background-color: $clr_bg;
    border-radius: 1rem;
    width: 400px;
    height: 400px;
    font-size: rem($system-14-font-size);
    line-height: rem($system-14-line-height);

    .following-container-header {
        position: relative;
        display: flex;
        height: 42px;
        align-items: center;
        justify-content: center;
        font-size: rem($system-16-font-size);
        line-height: rem($system-16-line-height);
        font-weight: $font-weight-system-semibold;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        .exit-logo-container {
            position: absolute;
            right: 20px;
            top: 12px;
            width: 18px;
            height: 18px;

            :hover {
                cursor: pointer;
            }
        }
    }

    .filterbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;

        .filter-bar-input {
            height: 32px;
            width: 368px;
            padding: 3px 16px;
            border-radius: 8px;
            background-color: $clr5;
            border: none;
        }
    }
}