.follower-preview {
    height: 44px;

    .user-img-container {
        width: 56px;
    }

    .user-img {
        height: 44px;
        width: 44px;
    }

    // user-names
    // follow-btn-action
}