.options-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: $clr_bg;
    border-radius: 1rem;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem($system-14-font-size);
    line-height: rem($system-14-line-height);
    z-index: 9999;
    
    button{
        font-size: rem($system-14-font-size);
        line-height: rem($system-14-line-height);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
        padding: 4px 8px;
        height: 48px;
    }
    .delete-btn {
        color: $clr13;
        font-weight: $font-weight-system-semibold;
    }
}