.post-header{
    font-size: rem(14px);
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 0px 12px 4px;
    height: 32px;
    
    img{
        width: 32px;
        height: 32px;
    }
    .post-header-main{
        margin-left: 4px;
        flex-grow: 1;
        justify-content: flex-start;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .post-header-main > *{
        margin-left: 4px;
    }

    .follow-btn{
        background-color: transparent;
        color: $clr12;
        padding: 0px;
    }

    .passed-time{
        color: $clr4;
    }

    .dot{
        color: $clr4;
    }

    .post-header-name{
        font-family: Sans_Bold;
    }
}