.post-details {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: $clr_bg;
  width: 110vh;
  height: 95%;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translate(-1%, -1%);

  .post-details-photo {
    background-color: black;
    position: relative;
    align-content: center;
    // overflow: hidden;
    grid-column: 1;
   
    img {
      height: 100%; //OPTIONAL!
    }
  }

  .post-details-passed-time{
    margin: 0px 0px 16px 16px;
    font-size: rem($system-12-font-size);
    line-height: rem($system-12-line-height);
    color: $clr4;
  }

  .post-details-info {
    overflow: auto;
    display: flex;
    flex-direction: column;
    grid-column: 2;
  
    .post-details-content {
      flex-grow: 1;
      padding: 16px;
      overflow: auto;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .passed-time {
      margin: 0px 0px 16px;
      font-size: rem($system-12-font-size);
      line-height: rem($system-12-line-height);
      color: $clr4;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }
}