.post-details {
  position: relative;
  display: grid;
  grid-template-columns: 2fr  1fr;
  background-color: $clr_bg;
  width: 110vh;
  height: 95%;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translate(-1%, -1%);

  .post-details-photo {
    position: relative;
    overflow: hidden;
    grid-column: 1;
    img{
      height: 100vh;   //OPTIONAL!
    }
  }

  .post-details-info {
    overflow: auto;
    display: flex;
    flex-direction: column;
    grid-column: 2;
      .post-details-content{
        flex-grow: 1;
      }
  }
}
