.post-description {
    display: flex;
    flex-direction: column;
    margin: 8px 0px 0px;
    font-size: rem($system-14-font-size);
    line-height: rem($system-14-line-height);

    p {
        padding: 0;
        margin: 0;
    }

    .post-description-fullname {
        font-weight: $font-weight-system-semibold;
        &:hover{
            cursor: pointer;
        }
    }

    .more-btn {
        color: $clr4;
    }

    .translate-btn {
        font-size: rem($system-12-font-size);
        line-height: rem($system-12-line-height);
        font-weight: $font-weight-system-semibold;
        padding: 8px 0px 0px;
        align-self: start;
    }
}