.post-actions {
    margin: 4px 0px;
    display: flex;
    justify-content: space-between;

    .post-actions-btns {
        display: flex;
        align-items: center;

        *:not(:first-child) {
            padding: 8px;
        }

        >:first-child {
            padding-right: 8px;
        }

        >*:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    .post-actions-secondary-btns {
        display: flex;
        align-items: center;

        >*:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}