.post-comments {

    .view-comments-btn {
        padding: 0px;
        margin-top: 8px;
        color: $clr4;
        font-size: rem($system-14-font-size);
        line-height: rem($system-14-line-height)
    }
}