.post-add-comment {
    font-size: rem($system-14-font-size);
    line-height: rem($system-14-line-height);
    display: flex;
    align-items: center;

    .post-add-comment-textarea {
        margin-top: 8px;
        flex-grow: 1;
        font-size: rem($system-14-font-size);
        line-height: rem($system-14-line-height);
        border: none;
        outline: none;
        height: auto;
        overflow-y: auto;
        max-height: 80px;
        resize: none;

    }

    .post-comment-btn {
        padding: 4px;
        font-size: rem($system-14-font-size);
        line-height: rem($system-14-line-height);
        font-weight: $font-weight-system-semibold;
        background-color: transparent;
        color: $clr12;

        &:hover {
            color: $clr11;
        }
    }

    .emoji-icon {
        color: $clr4;
        width: 13px;
        height: 13px;

        &:hover {
            cursor: pointer;
        }
    }
}

.page-post-add-comment {
    font-size: rem($system-14-font-size);
    line-height: rem($system-14-line-height);
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 16px 6px 0px;


    .post-add-comment-textarea {
        margin-top: 10px;
        flex-grow: 1;
        font-size: rem($system-14-font-size);
        line-height: rem($system-14-line-height);
        border: none;
        outline: none;
        height: auto;
        overflow-y: auto;
        max-height: 80px;
        resize: none;

    }

    .post-comment-btn {
        padding: 4px;
        font-size: rem($system-14-font-size);
        line-height: rem($system-14-line-height);
        font-weight: $font-weight-system-semibold;
        background-color: transparent;
        color: $clr12;

        &:hover {
            color: $clr11;
        }
    }

    .post-comment-btn-after {
        padding: 4px;
        font-size: rem($system-14-font-size);
        line-height: rem($system-14-line-height);
        font-weight: $font-weight-system-semibold;
        background-color: transparent;
        color: rgba($clr12, 0.5);

        &:hover {
            color: $clr11;
        }
    }

    .emoji-icon-container{
        padding: 8px 16px;
    }
    .emoji-icon {
        color: $clr1;
        width: 24px;
        height: 24px;
        &:hover {
            cursor: pointer;
        }
    }

}