.post-preview {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    transition: filter 0.2s ease;

    &:hover {
        cursor: pointer;
        .post-preview-img{
            filter: brightness(80%);
        }   
        .post-preview-stats{
            opacity: 1;
        }
    }

    .post-preview-stats {
        position: absolute;
        display: flex;
        gap: 30px;
        flex-direction: row;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

}

.post-preview-stats-comments,
.post-preview-stats-likes {
    display: flex;
    gap: 5px;
    align-items: center;

    div {
        color: $clr_bg;
        font-weight: $font-weight-system-bold;
        font-size: rem($system-18-font-size);
        line-height: rem($system-18-line-height);
    }
}