.post-actions {
    margin: 4px 0px;
    display: flex;
    justify-content: space-between;

    .post-actions-btns {
        display: flex;
        align-items: center;

        *:not(:first-child) {
            padding: 8px;
        }

        >:first-child {
            padding-right: 8px;
        }
    }

    .post-actions-secondary-btns {
        display: flex;
        align-items: center;
    }
}