.profile-content-filter{
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    height: 52px;
    
    >*{
        display: flex;
        align-items: center;
        margin: 0px 60px 0px 0px;
    }

    .posts-filter,
    .posts-save-filter{
        color: $clr4;
        font-size: $system-12-font-size;
        line-height: $system-12-line-height;
        font-weight: $font-weight-system-semibold;
    }
}