.remove-follower-modal-container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $page-details-bg;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 9000 !important;
}