.user-info{
     display: flex;

    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 291px;
        margin: 0px 30px 0px 0px;
    }
    .user-info-img{
        max-width: 150px;
    }

    .user-details{
        display: flex;
        width: 613px;
    }

    .user-info-btn{
        border-radius: 8px;
        font-size: $system-14-font-size;
        line-height: $system-14-line-height;
        font-weight: $font-weight-system-semibold;
    }

    .following-btn{
        background-color: $clr5;
        color: $clr1 ;
        padding: 7px 16px;
    }

    .messege-btn{
        color: $clr1;
        background-color: $clr5;
        padding: 7px 16px;
    }
}
