* {
    box-sizing: border-box;
}

::selection {}

html {
// line-height:1.6; We need to adjust line height for all the html
}

body {
    background-color: $clr_bg;
    font-size: rem($system-14-font-size);
    line-height: rem($system-14-line-height);
    margin: 0;
}

img {
    width: 100%; //ensure the the image will be pixel perfect
}


a {
    text-decoration: none;
    color: $clr1;
}

a:hover {
    cursor: pointer;
}

.logo {
    font-family: Sans_Head_Line;
}

.icon {
    width: 24px;
    height: 24px;
}

nav :not(.logo):hover{
    cursor: pointer;
    border-radius: $nav-border-radius;
    background-color: $clr5;
    transition: background-color 0.5s ease;
    transition: 0.5;
}

.profilePreviewImg{
    border-radius: 50%;
}

button {
    border:0;
    background-color: transparent;
    cursor: pointer;
}

.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
  
    transition: opacity 0.6s;
  }
  
  body.modal-open .main-screen {
    opacity: 1;
    pointer-events: auto;
    // background-color: pink;      
  }

  .modal-open {
    background-color: rgba(0, 0, 0, 0.5);
    // overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // opacity: 1;
  }
  