* {
    box-sizing: border-box;
}

::selection {}

html {
// line-height:1.6; We need to adjust line height for all the html
}

body {
    background-color: $clr_bg;
    font-size: rem($system-14-font-size);
    line-height: rem($system-14-line-height);
    margin: 0;
}

img {
    width: 100%; //ensure the the image will be pixel perfect
}


a {
    text-decoration: none;
    color: $clr1;
}

a:hover {
    cursor: pointer;
}

// .logo {
//     font-family: Sans_Head_Line;
// }
.logo {
    width: 105px;
    height: 32px;
}

.icon {
    width: 24px;
    height: 24px;
}

nav :not(.logo):hover{
    cursor: pointer;
    border-radius: $nav-border-radius;
    background-color: $clr5;
    transition: background-color 0.5s ease;
    transition: 0.5;
}

.profilePreviewImg{
    border-radius: 50%;
}

button {
    border:0;
    background-color: transparent;
    cursor: pointer;
}


.no-scroll {
    overflow: hidden;
}


.optionModal{
    display: flex;
    flex-direction: column;
    width: 400px;
}