.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: rgba(0,0,0,0.75);
    // background-color: transparent;
    // color: red;
    overflow: 'hidden';
    // border: 5px solid;
    // transform: translate(-50%, -50%);
    .custom-overlay {
        // background-color: red;
        color: red;
        // transform: translate(-50%, -50%);
        // border: 5px solid;
    }
  }

.custom-overlay {
    // border: 2px solid;
    // transform: translate(-50%, -50%);
    color: red;
    // background-color: red;
}
  
.ReactModal__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: fit-content;
    
    // height: 692px;
    height: fit-content;
    padding: 0;
    gap: 0;
    margin: 0;
}

.custom-content {
        position: 'fixed';
        color: red;                
        top: '50%';
        left: '50%';
        transform: 'translate(-50%, -50%)';
        overflow: 'hidden';
        // display: block;
}
  
  .ReactModal__Content .custom-content {
    transform: translate(-50%, -50%);
  }

.ReactModal__Overlay {
    // background-color: red;
    // color: red;
}