.post-details-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: $page-details-bg;
    top: 0px !important;
    left: 0px !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 4000 !important;
}