/* This is the stuck font, the system will choose the font base if its
ios/android/webs in total.. 
*/
body, button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

//SANS
@font-face {
    font-family: Sans;
    src: url(../../../../public/fonts/Instagram\ Sans.ttf);
}

//SANS BOLD
@font-face {
    font-family: Sans_Bold;
    src: url(../../../../public/fonts/SansBold.ttf );
}

//SANS LIGHT
@font-face {
    font-family: Sans_Light;
    src: url(../../../../public/fonts/SansLight.ttf);
}

//Sans Head Line
@font-face {
    font-family: Sans_Head_Line;
    src: url(../../../../public/fonts/HeadLine.ttf);
}

