// MAIN COLORS
$clr_bg: #fff;
$clr1: #000;
$clr2: #c7c7c7;
$clr3: #8e8e8e;
$clr4: #737373; 
$clr5: #efefef;
$clr6: #fafafa;

//BLUE COLORS
$clr11: #00376b; // mostly in hover
$clr12: #0095f6;

//SYSTEM font size and line height
$system-10-font-size: 10px;
$system-10-line-height: 12px;
$system-11-font-size: 11px;
$system-11-line-height: 13px;
$system-12-font-size: 12px;
$system-12-line-height: 16px;
$system-13-font-size: 12px;
$system-14-font-size: 14px;
$system-14-line-height: 18px;
$system-15-font-size: 15px;
$system-16-font-size: 16px;
$system-16-line-height: 24px;
$system-18-font-size: 18px;
$system-18-line-height: 24px;
$system-20-line-height: 25px;
$system-22-font-size: 22px;
$system-22-line-height: 26px;
$system-24-font-size: 24px;
$system-24-line-height: 27px;
$system-26-font-size: 26px;
$system-26-line-height: 28px;
$system-28-font-size: 28px;
$system-28-line-height: 32px;
$system-32-font-size: 32px;
$system-32-line-height: 40px;

// SYSTEM bold differnets
$font-weight-system-bold: 700;
$font-weight-system-extra-bold: 800;
$font-weight-system-extra-light: 200;
$font-weight-system-light: 300;
$font-weight-system-medium: 500;
$font-weight-system-regular: 400;
$font-weight-system-semibold: 600;


// MEASUREMENT
$nav-border-radius: 8px;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;