// MAIN COLORS
$clr_bg: #fff;
$clr1: #000;        
$clr2: #c7c7c7 ;
$clr3: #8e8e8e;   
$clr4: #737373;   //buttons when hover also
$clr5: #efefef;
$clr6: #fafafa;

//BLUE COLORS
$clr11: #00376b;  // mostly in hover
$clr12: #0095f6;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;