// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";
@import "basics/forms";


// Views
@import "views/AboutUs";
@import "views/HomePage";
@import "views/CarIndex";
@import "views/ReviewIndex";
@import "views/UserDetails";
@import "views/ExplorePage.scss";
@import "views/ProfilePage.scss";
@import "views/PostDetailsPage.scss";

// Components
@import "cmps/App.scss";
@import "cmps/AppHeader";
@import "cmps/UserMsg";
@import "cmps/ShoppingCart";

// post Cmps
@import "cmps/PostHeader.scss";
@import "cmps/Post.scss";
@import "cmps/PostPhotos.scss";
@import "cmps/PostDescription.scss";
@import "cmps/PostLikes.scss";
@import "cmps/PostActions.scss";
@import "cmps/PostComments.scss";
@import "cmps/PostAddComment.scss";
@import "cmps/PostPreview.scss";
@import "cmps/ExplorePostList.scss";

// post details Cmps

@import "cmps/PostDetails.scss";
@import "cmps/CommentPreview.scss";

// Create post Cmps
@import "cmps/CreatePostModal.scss"; 
@import "cmps/CreateModalHeader.scss";
@import "cmps/CreateModalContent.scss";